body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: 900px;
}

#background {
    background-image: url('../assets/img/background-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: .8;
}


/* Pagination Styles */

#paginator {
    margin-left: 20%;
}

.table-transparent {
    opacity: .9;
}

.paginationjs {
    line-height: 1.6;
    font-family: Marmelad, "Lucida Grande", Arial, "Hiragino Sans GB", Georgia, sans-serif;
    font-size: 14px;
    box-sizing: initial
}

.paginationjs:after {
    display: table;
    content: " ";
    clear: both
}

.paginationjs .paginationjs-pages {
    float: left
}

.paginationjs .paginationjs-pages ul {
    float: left;
    margin: 0;
    padding: 0
}

.paginationjs .paginationjs-go-button,
.paginationjs .paginationjs-go-input,
.paginationjs .paginationjs-nav {
    font-weight: bold;
    float: left;
    margin-left: 10px;
    font-size: 17px;
    color: black;
}

.paginationjs .paginationjs-pages li {
    float: left;
    border-right: none;
    list-style: none;
    padding-left: 177px;
}

.paginationjs .paginationjs-pages li>a {
    min-width: 30px;
    height: 30px;
    width: 100px;
    line-height: 29px;
    display: block;
    background: #343a40;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.paginationjs .paginationjs-pages li>a:hover {
    background: #eee
}

.paginationjs .paginationjs-pages li.active {
    border: none
}

.paginationjs .paginationjs-pages li.active>a {
    height: 30px;
    line-height: 30px;
    background: #aaa;
    color: #fff
}

.paginationjs .paginationjs-pages li.disabled>a {
    opacity: .3
}

.paginationjs .paginationjs-pages li.disabled>a:hover {
    background: 0 0
}

.paginationjs .paginationjs-pages li:first-child,
.paginationjs .paginationjs-pages li:first-child>a {
    border-radius: 3px 0 0 3px
}

.paginationjs .paginationjs-pages li:last-child {
    border-radius: 0 3px 3px 0
}

