<!DOCTYPE html>
<html>
<head>
    <title>Class AJAX</title>
</head>
<body>
    <h1>We are learning about AJAX</h1>
    <h1 id="academy"></h1>
    <ul id="students"></ul>
    <ul id="astros"></ul>
    <button id="plainJsRequest">Plain js request</button>
    <button id="getStudentsBtn">Get students</button>
    <button id="getAstronautsBtn">Get astronauts</button>
    <button id="fetchBtn">Fetch Students</button>
    <button id="fetchAstronautsBtn">Fetch astronauts</button>
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="../../scripts/ajax/plainJs.js"></script>
    <script src="../../scripts/ajax/jqueryCalls.js"></script>
</body>
</html>